.App {
  text-align: center;
}

div.guess-input {
  animation: horizontal-shaking 0.35s infinite;
  font-size: 1rem;
  display: inline-block;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.wordle-container {
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
}

.wordle-title {
  border-bottom: 1px solid black;
  font-size: 6vw;
  padding-bottom: 3vh;
  padding-top: 3vh;
  margin-top: 0;
}

